body{
    background: linear-gradient( rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705) ), url('server.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.buton{
    display: flex-box;
    justify-content: center;
    align-items: center;
    height: 94vh;
    margin: auto;
    flex-wrap:wrap;
}

.button {
    margin: 10px;
    display: flex;
    height: 100px;
    background: #0073ff;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button:hover {
    background: #0060d4;
  }
  
  .button:active {
    background: #0060d4;
  }
  
  .button__text,
  .button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
  }
  
  .button__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
  }
  
